.form{
    width: 30%;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: white;
    border-radius: 5px;
}
.form h2{
    color: #055699;
    text-align: center;
    font-size: 24px;
    padding: 15px;
}
.dangnhap{
    width: 80%;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid #d7d7d7;
    padding: 10px;
    display: block;
    margin: 10px auto;
}
.form button{
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 85%;
    padding: 10px 0;
    background-color: #055698;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: 0;
    margin: auto;
}
.hoac{
    width: 80%;
    margin: 10px auto;
}
#check{
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.hoac a{
    float: right;
    color: #055699;
}
.hoac a:hover{
    text-decoration: underline;
}
.btn{
    width: 90%;
    margin: 25px auto;
    text-align: center;
}
.btn a{
    border-radius: 5px;
    font-size: 14px;
    background-color: white;
    padding: 10px;
}
#dnb1{
    transition: .5s;
    border: 1px solid #055698;
    color: #055698;
}
#dnb2{
    transition: .5s;
    border: 1px solid #eb4f38;
    color: #eb4f38;
}
#dnb1:hover{
    background-color: #055698;
    color: white;
}
#dnb2:hover{
    background-color: #eb4f38;
    color: white;
}
.dk{
    color: #555555;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
    background-color: #f4f4f4;
}
.dk a{
    color: #598eb9;
}
.dk a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    
    .form{
        width: 100%;
    }
}