*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #deb887;
}
header{
	text-align: center;
	height: 60px;
	background-color: rgba(0,0,0,.8);
	position: fixed;
	width: 100%;
	z-index: 100;
}
.bx{
	color: white;
	
}
#header_Background{
	background-color: black;
}
.header_content{
	margin-top: 8px;
	vertical-align: middle;
}
header ul li{
	font-size: 20px;
	list-style: none;
	display: inline-block;
	margin-top: 17px;
	font-weight: 500;
	width: 10%;
}
header ul li a{
	text-decoration: none;
	color: white;
	transition: .5s;
}
header ul li a:hover{
	color: #008DFF;
	text-decoration: none;
	
}


footer{
	margin-top: 30px;
	width: 100%;
	text-align: center;
	font-weight: 400;
	padding-bottom: 30px;
}
#cty{
	font-size: 16px;
	padding-bottom: 10px;
}
#truso{
	font-size: 14px;
}


.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--grey);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: var(--grey);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}