*{
background: white;
margin: 0px auto;
 box-sizing: border-box;
 font-size: 1.6rem;
}
/* a{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
} */
/* body {
width:100vw;
height:100vh;
} */
.btn{
    background: blue;
    padding: 1.5rem;
    color: white;
    border-radius: 1rem
 }

.box-parent {
    width: 850px;
    height: 60px;
    background: #4267b2;
    display: flex;
   justify-content: center;
   align-items: center

}
#box{
height: 40%;
width: 10%;

}
.Header-pic {
		display: block;
 		background-color: white;
  		text-align: center;
  		box-sizing: border-box
  		
}
#img-header{
/* border-radius:5%; */
/* -moz-border-radius:00%;
-webkit-border-radius:2%; */
border-radius: 7% 7% 0 0 ;
width: 810px;
height: 450px;
padding-top: 20px;
}
#avatar{
	margin-top: -200px;
	border-radius: 50% 50% 50% 50%;
	border:  4px solid white;
	position: relative;
	width: 500px;
	height: 500px;
}
.Name-Tag{
	text-align: center;
	box-sizing: border-box;
	display: block;
	color: black;
}
#Name{
	font-family: Arial ;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
}
#Tag{
	font-family: arial;
	font-size: 20px;
}
#Text-Box1{
	max-width: 350px;
	max-height: 40px;
	background-color: #4267b2;
	text-align: center;
	/* margin-left: -20; */
	border-radius: 4% 4% 4% 4%;
	padding: 2px;
	display: block;
}
#Khoa{
	background-color:#4267b2 ;
	color: white;
	font-size: 27px;
	border-radius: 0.2rem;
	display: block;
	font-family: Arial;
	padding: 10px;
}
#Text-Class{
	max-width: 130px;
	max-height: 40px;
	background-color: #AAB8C2;
	text-align: center;
	/* margin-left: -20; */
	box-sizing: border-box;
	border-radius: 1rem;
	padding: 2px;
	display: block;
}
#Class{
background-color:#AAB8C2 ;
color: white;
font-size: 27px;
border-radius: 0.2rem;
display: block;
font-family: Arial;
padding: 10px;
}

.specialized-container{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
  }

 .specialized__list{
    display: flex;
    align-items: center;
  }
  
  .specialized-infor{
    margin: 15px;
    border-radius: 10px
  }
 .info{
 	width: 500px;
 	padding-top: 30px;
 	border-top: 3px solid #F6F7F9 ;
 	margin: 20px auto;
 	padding-bottom: 50px;
 }

 .info-container{
 	width: 85%;
 	margin: 0 auto;
 	word-break: break-word;

 }
 .test-info{
 	margin-left: 10px;
 	font-size: 20px;
	vertical-align: text-top;
 }


@media screen and (max-width:850px){

  .specialized-container{
        margin-left: 1rem;
    }

}

@media screen and (max-width: 510px){
    .more-infor{
        width: 80%;
    }
}